
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1:rgb(11, 255, 255);
    --color2:blue;
}
body{
    background-color: #fff;
}
main{
    background-color: #f0f0f0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
header img{
    height: 40px;
}
.logo{
    display: flex;
   align-items: center;
   gap: 10px;
   font-size: 40px;
}
.name span{
    color: var(--color1)
}
.search nav{
    display: flex;
    gap: 10px;
}
.search nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    font-size: 18px;
}
header input{
    padding:  0px 5px;
    border: none;
    width: 500px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}
.search{
    display: flex;
    gap: 10px;
    margin-top: 13px;
   
}
.search-input{
    display: flex;
    gap: 10px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #333;
    height: 38px;

}
.search-input img{
    height: 33px;
    margin-right: 5px;
}
.log{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.log button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color1);
    color: #fff;
    border: none;
    cursor: pointer;
}
main{
    display: grid;
    grid-template-columns: repeat(4);
}
#filter{
    gap: 10px;
    /* border: 1px solid red; */
    /* background-color: red; */
    grid-column: 1/2;

}
.filter-head{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: aqua;
    color: #333;
}
.check{
    display: flex;
}
#main-page{
    /* background-color: blue; */
    /* border: 1px solid blue; */
    grid-column: 2/5;

}
#box-page{
    height: fit-content;
}
#main-page .box{
    /* display: grid;
    grid-template-columns: repeat(5); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container{
    border: 1px solid black;
    height: fit-content;
    align-items: center;
    padding: 10px 40px;
    margin: 10px 0px;
    border-radius: 15px;
    width: 225px;
    margin: 13px;
    box-shadow: 0px 6px 8px #333;
    background-color: #fff;
}
.container button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}
#main-page .box ,.container img{
    height: 100px;
}
#main-page .box .container box-1{
    grid-column: 1/2;
}
#main-page .box .container box-2{
    grid-column: 2/3;
}
#main-page .box .container box-3{
    grid-column: 3/4;
}
#main-page .box .container box-4{
    grid-column: 4/5;
}
#youtube{
    /* gap: 10px; */
    /* background-color: green; */
    /* border: 1px solid green; */
    grid-column: 5/6;
    /* padding: 0px 150px ; */
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: aqua;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: cursive;
    font-size: 16px;
}
@media (max-width:570px){
    header{
       flex-direction: column;
    }
    .menu{
       flex-direction: column;
    }
    .navigation{
       flex-direction: column;
    }
     #banner{
      flex-direction: column;
    }
    section{
       padding:10px;
    }
    .lottie{
       width: 300px; 
       height: 300px";
   }
   #about{
       flex-direction: column;
   }
   #skills{
       grid-template-columns: repeat(2,1fr);
   }
   #projects{
           grid-template-columns: repeat(1,1fr);
   }
   }
   @media (min-width:571px) and (max-width:847px){
    header{
       flex-direction: column;
    }
    .menu{
       flex-direction: column;
    }
    #projects{
           grid-template-columns: repeat(2,1fr);
   }
    section{
       padding:30px 50px;
    }
    #skills{
       grid-template-columns: repeat(3,1fr);
   }
    #banner{
      flex-direction: column;
    }
   
    .lottie{
       width: 400px; 
       height: 400px";
   }
   }
   @media (min-width:848px) and (max-width:1080px){
     
   }